html{
  scroll-behavior: smooth;
}

#navLinksContainer{
  /* border: red solid; */
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  /* height: 400px; */
  /* width: fit-content; */
  /* list-style-type: none; */
  position: fixed;
  top: 38vh;
  margin-left: 40px;
  text-align: end;
  line-height: 40px;

}

#navLinksContainer div{
  margin: 0 0 0 0;
  height: fit-content;
  width: fit-content;
  /* border: red solid; */
  
}

.navLink{
  font-weight: bold;
  font-size: 37px;
  text-decoration: none;
  color: black;
}



.introductionTextContainer{
  /* border: 2px rgb(105, 66, 66) solid; */
  margin-left: 250px;
  height: 100vh;
  display: flex;
  align-items: center;
}

#introductionText{
  font-size: 65px;
  font-weight: bolder;
  /* border: blue solid; */
  justify-content: center;
 
}

/* ABOUT ME========== */


#aboutMeContainer{
  margin-left: 200px;
  /* border: red solid; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

#aboutMeText{
  padding: 30px;
  background-image: linear-gradient(to right, rgb(130, 176, 255) , rgb(16, 185, 247));
  border-radius: 20px;
  color: white;
  margin-left: 0px;

  /* border: blue solid; */
  box-shadow: 1px 3px 18px rgb(191, 191, 191);
  height: fit-content;
  width: 550px;
}
#aboutMeText h1{
  margin: 0 0 0 0;
  /* border: red solid; */
}

#aboutMeText p {
  font-size: 20px;
  font-weight: bold;
}

.icons{
 font-size: 60px;
 
}

/* PROJECTSS------------- */

#projectsContainer{
  height: fit-content;
  /* border: blue solid; */
  margin-left: 200px;
}

#projectsTitle{
  font-size: 60px;
  margin-left: 7vw;
  margin-bottom: 13vh;
  
}

.projectBoxContainer{
  /* border: red solid; */
  height: 50vh;
  display: flex;
  margin-bottom: 40vh;
}

.infoContainer{
  /* border: blue solid; */
  width: 40%;
  display: flex;
  margin-top: 30px;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.infoContainerThreeWay{
  /* border: brown solid; */
  width: 300px;

}

.projectTitleContainer{
  /* border: red solid; */
  height: fit-content;
  margin: 0 0 0 0;
}
.projectTitleContainer h3{
  /* border: red solid; */
  height: fit-content;
  margin: 0 0 0 0;
  font-size: 30px;
}


.projectTextContainer p{
  /* border: red solid; */
  font-weight: bold;
  margin: 0 0 0 0;
  text-align:left;
  font-size: 20px;

}





.screenShotContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  
}

.screenShotContainerForBorder{
  /* border: blue solid; */
  background-image: linear-gradient(to right, rgba(0, 42, 179, 0.988) , rgb(155, 200, 255));
  padding: 3vh;
  border-radius: 20px;
  height: fit-content;
  box-shadow: 1px 13px 18px rgb(191, 191, 191);

}

.screenShotSize{
  width:70vh;


  /* max-width: 600px;
  min-width: 200px; */
  border: 0px rgba(255, 0, 0, 0) solid;
  border-radius: 10px;

}
.projectButtonContainer{
  /* border: red solid; */
  display: flex;
  justify-content: space-between;

}

.demoButtons{
  text-decoration: none;
  font-weight: 900;
  padding: 9px 15px ;
  font-size: 17px;
  color:white;
  font-weight: 700;
  border-radius: 17px;
  box-shadow: 2px 3px 5px rgb(216, 216, 216);
  border: none;
  margin: 10px 8px 6px 0;
  /* border: 2px rgba(0, 0, 255, 0) solid; */
  /* z-index: 2; */
  background-image: linear-gradient(to right, rgba(4, 53, 126, 0.988) , rgb(32, 130, 165));
  white-space: nowrap;
}

.demobuttons:hover{
  


}

.githubDemo{
  font-size: 22px;
  text-decoration: none;
  color: black;
}

/* CONTACT============ */

.iconsInContact{
  font-size: 60px;
  /* border: red solid; */
  display: flex;
  justify-content: space-around;
  width: 150px;
  
}

.iconsInContact a{
  font-size: 60px;
  text-decoration: none;
  color: black;
  
}
#contactContainer{
  /* border: red solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;

}



@media only screen and (max-width: 599px){

  .introductionTextContainer{
    /* border: 2px rgb(105, 66, 66) solid; */
    margin-left: 0px;
    padding-left: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
  }

  #introductionText{
    padding-left: 20px;
  }
  /* about me */

  #aboutMeContainer{
    margin-left: 0px;
    /* border: red solid; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  }
  
  #aboutMeText{
    padding: 30px;
    background-image: linear-gradient(to right, rgb(130, 176, 255) , rgb(16, 185, 247));
    border-radius: 20px;
    color: white;
    margin-left: 0px;
  
    /* border: blue solid; */
    box-shadow: 1px 3px 18px rgb(191, 191, 191);
    height: fit-content;
    width: 70%;
  }
  #aboutMeText h1{
    margin: 0 0 0 0;
    /* border: red solid; */
  }
  
  #aboutMeText p {
    font-size: 20px;
    font-weight: bold;
  }
  
  .icons{
   font-size:6vh;
   /* width: fit-content; */
   /* border: red solid; */
   overflow-wrap:break-word;
  }
  #projectsContainer{
    height: fit-content;
    width: 100%;
    /* border: blue solid; */
    margin-left: 0px;
  }
  
  #projectsTitle{
    font-size: 56px;
    margin-top: 10h;
    margin-left: 7vw;
    margin-bottom: 5vh;
    
  }
  
  .projectBoxContainer{
    /* border: red solid; */
    height: 50%;
    display: flex;
    flex-direction: column-reverse;

    margin-bottom: 10vh;
  }
  
  .infoContainer{
    /* border: blue solid; */
    width:100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;

  }
  
  .infoContainerThreeWay{
    /* border: brown solid; */
    width: 300px;
  
  }
  
  .projectTitleContainer{
    /* border: red solid; */
    height: fit-content;
    margin: 0 0 0 0;

  }
  .projectTitleContainer h3{
    /* border: red solid; */
    height: fit-content;
    margin: 0 0 0 0;
    font-size: 30px;
  }
  
  
  .projectTextContainer p{
    /* border: red solid; */
    font-weight: bold;
    margin: 0 0 0 0;
    text-align:left;
    font-size: 20px;
  
  }
  
  
  
  
  
  .screenShotContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding-left:10px; */
    /* padding-right: 10px; */
    /* border: red solid; */
    
  }
  
  .screenShotContainerForBorder{
    /* border: blue solid; */
    background-image: linear-gradient(to right, rgba(0, 42, 179, 0.988) , rgb(155, 200, 255));
    padding: 2vh;
    border-radius: 20px;
    height: fit-content;
    box-shadow: 1px 13px 18px rgb(191, 191, 191);
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .screenShotSize{
    width:100%;
    /* height: 50%; */
   
    border: 0px rgba(255, 0, 0, 0) solid;
    border-radius: 10px;
  
  }
  .projectButtonContainer{
    /* border: red solid; */
    display: flex;
    justify-content: space-between;
  
  }
  
  .demoButtons{
    text-decoration: none;
    font-weight: 900;
    padding: 9px 15px ;
    font-size: 17px;
    color:white;
    font-weight: 700;
    border-radius: 17px;
    box-shadow: 2px 3px 5px rgb(216, 216, 216);
    border: none;
    margin: 10px 8px 6px 0;
    /* border: 2px rgba(0, 0, 255, 0) solid; */
    /* z-index: 2; */
    background-image: linear-gradient(to right, rgba(4, 53, 126, 0.988) , rgb(32, 130, 165));
    white-space: nowrap;
  }
  
  .demobuttons:hover{
    
  
  
  }
  
  .githubDemo{
    font-size: 22px;
    text-decoration: none;
    color: black;
  }

  #borgorContainer{
    /* border: red solid; */
    display: flex;
    justify-content: end;
    width: 100%;
    height: fit-content;
    position:fixed;
    /* padding-top: 10px; */
  }
  #borgorMenuBtn{
    width: 15vh;
  }
  
  #navBarContainer{
    /* border: red solid; */
    height:fit-content;
    background-image: linear-gradient(to bottom, rgba(1, 18, 43, 0.988) , rgba(32, 130, 165, 0.954));

    /* padding-left: 15vw; */
    /* padding-right: 50vw; */
    width: 101%;
    height: 101%;
    position: fixed;
    top: 0;
    left: 0vw;
    top: 0;  
    transition: all 1s ease-out;

   
  }
 
  .navLink{
    font-weight: bold;
    font-size: 80px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    top: 4vh;
    /* border:solid rgb(16, 185, 247) ; */
    /* left: 2vw; */
  }

  #xButtonContainer{
    /* border: solid blueviolet; */
    height: fit-content;
    display: flex;
    justify-content: end;
    padding-right: 30px;
  }
  #navBarXButton{
    width: 70px;
    /* border:red solid; */
    /* position: fixed; */

  }
  #navigationContainer{
    /* border: red solid; */
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }
 



}

#leaveAMessageElement{
  width:45vh;


  /* max-width: 600px;
  min-width: 200px; */
  border: 0px rgba(255, 0, 0, 0) solid;
  border-radius: 10px;

}